* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body, html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.bg {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn {
    margin: 3px;
    display: inline-block;
    font-size: 16px;
    border: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 100px;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.btnsecondary {
    box-shadow: 0px 0px 3px 1px #00000033;
}

.btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #4C43E0;
    cursor: pointer;
}

.btnprimary {
    background-color: #4C43E0;
    color: #ffffff;
}

.btnprimary:hover {
    background-color: #3b36c0;
}

.forminput {
    width: 70%;
    display: block;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px #00000033;
    border: 0;
    flex: 1 1 0;
}

.forminput:focus {
    box-shadow: 0px 0px 3px 1px #00000066;
    outline: none;
    transition: 0.1s ease;
}

.breadcrumb {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 20px;
}

.container {
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 8px;
    gap: 10px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 8px 16px #00000033;
    padding: 15px;
    width: 440px;
    height: 440px;
    text-align: center;
    border-radius: 8px;
}

.primary {
    height: 80vh;
    width: 100vw;
}

.form {
    margin: 0;
    display: flex;
    min-width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
}

.formgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.label {
    margin: 5px;
}

.ico {
    width: 20%;
    margin: 5px;
}

.icoprimary {
    width: 20%;
    margin: 15px;
}

.table {
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.table * {
    padding: 8px;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #4C43E0;
    color: white;
}

.navbar {
    min-height: 55px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 6px 20px;
    list-style: none;
    overflow: hidden;
    box-shadow: 0 4px 5px #00000033;
    gap: 10px;
}

.navlogo {
    font-size: 14pt;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.navbar .btn {
    min-width: 75px;
}

.navlogout {
    margin-left: auto;
}

.link {
    text-decoration: none;
    color: #4C43E0;
}

.link:hover {
    text-decoration: underline;
}

.toast {
    display: block;
    max-width: 35%;
    border-radius: 8px;
    color: #ffffff;
    background-color: #4C43E0;
    box-shadow: 0 8px 16px #00000033;
    padding: 15px;
    position: fixed;
    bottom: 20px;
    right: 25px;
}